html, #myBody {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #e9eaed;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#titleBar {
	height: 50px;
	background-color: #388ac1;
	color: white;
	box-shadow: 0 3px 5px #999999;
	font-size: 20px;
	line-height: 50px;
}

#content {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

#title {
	float: left;
}

#toolBar {
	float: right;
}

#greeting {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

#profile {
	font-weight: bold;
	cursor: pointer;
}

#exitButton{
	display: block;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}

#controlPanel {
	padding-top: 50px;
	width: 200px;
	height: 100%;
	float: left;
}

#pagePanel {
	margin-left: 200px;
	margin-right: 75px;
	margin-bottom: 300px;
	height: 100%;
}

.tabControl {
	position: relative;
	z-index: 1;
	margin: 0;
	padding-left: 30px;
	padding-right: 25px;
	color: #388ac1;
	font-size: 20px;
	text-align: right;
	line-height: 50px;
	width: 100%;
	height: 50px;
	cursor: default;
}

.tabPage {
	position: relative;
	z-index: 1;
	padding: 25px;
	padding-left: 30px;
	border-radius: 5px;
	background-color: white;
	color: #2E2E2E;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 18px;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px #999999;
	display: none;
}

#pageTitle {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#newProfileBtn {
    float: right;
}

#searchBar {
    width: 50%;
}

.marginTop {
    margin-top: 10px;
}

#profileHeader {
	border-spacing: 10px;
	margin-bottom: 20px;
}

#profileTitle {
	font-weight: bold;
	font-size: 32px;
}

#editButtonContainer {
	font-size: 14px;
	color: #388ac1;
	cursor: pointer;
	padding-left: 10px;
}

#infoTable {
	margin-bottom: 30px;
	border-spacing: 25px 2px;
}

.myLabel {
	color: gray;
	padding-right: 15px;
}

#profileInfo {
	width: 100%;
}

#leftColumn {
	padding-left: 30px;
	width: 70%;
}

#rightColumn {
	vertical-align: top;
}

#statusButton {
	width: 200px;
	height: 70px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 24px;
	font-weight: bold;
	background-color: #c73a11;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
}

#email {
	color: #388ac1;
}

#profileControlPanel {
	border-spacing: 0;
}

.profileTab {
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	color: #388ac1;
	border-bottom: 2px solid #388ac1;
}


#rightSpace {
	width: 100%;
}

.spaceBetween {
	padding-left: 2px;
	padding-right: 2px;
}

.profileTab.selected {
	background-color: white;
	color: #388ac1;
	border-top: 2px solid #388ac1;
	border-left: 2px solid #388ac1;
	border-right: 2px solid #388ac1;
	border-bottom: none;
}

.profileTab.unselected {
	cursor: pointer;
	background-color: #388ac1;
	color: white;
	border: 2px solid #388ac1;
}

.profileTab.unselected.hovering {
	background-color: #79B4DB;
}

#tabActivityPage {
	padding: 30px;
}

.profileLink {
	cursor: pointer;
	color: #388ac1;
}

.timeStamp {
	color: gray;
	font-size: 14px;
	float: right;
	line-height: 25px;
}

.activity {
	margin: 10px;
	padding: 10px;
	vertical-align: middle;
}

.activity.statusChange {
	border-top: 2px solid #8AC007;
	border-left: 10px solid #8AC007;
	border-right: 2px solid #8AC007;
	border-bottom: 2px solid #8AC007;
}

.activity.regular {
	border-top: 2px solid gray;
	border-left: 10px solid gray;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
}

#reviewerInput {
	display: none;
}

#mySelect {
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	padding: 5px;
	border: 1px solid #388ac1;
	margin: 10px;
}

#actionControl {
	margin-top: 20px;
}

#actionInput {
	margin: 10px;
	border-color: #388ac1;
	resize: none;
	padding: 7px;
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#confirmButton {
	background-color: gray;
	color: white;
	height: 37px;
	line-height: 37px;
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	margin: 10px;
	padding: 5px;
}