html, #myBody {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #e9eaed;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#titleBar {
	height: 50px;
	background-color: #388ac1;
	color: white;
	box-shadow: 0 3px 5px #999999;
	font-size: 20px;
	line-height: 50px;
}

#content {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

#title {
	float: left;
}

#toolBar {
	float: right;
}

#greeting {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

#profile {
	font-weight: bold;
	cursor: pointer;
}

#exitButton{
	display: block;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}

#controlPanel {
	padding-top: 50px;
	width: 200px;
	height: 100%;
	float: left;
}

#pagePanel {
	margin-left: 200px;
	margin-right: 75px;
	margin-bottom: 300px;
	height: 100%;
}

.tabControl {
	position: relative;
	z-index: 1;
	margin: 0;
	padding-right: 25px;
	color: #388ac1;
	font-size: 20px;
	text-align: right;
	line-height: 50px;
	width: 100%;<img src="graphics/dot1.png" id="icon1" class="notification"/>
	height: 50px;
	cursor: default;
}

#notification {
	display: none;
	cursor: pointer;
}

#interviewTable {
	border-spacing: 10px;
	border-collapse: separate;
}

#interviewCard {
	display: none;
	padding: 15px;
	border-top: 2px solid #8AC007;
	border-left: 10px solid #8AC007;
	border-right: 2px solid #8AC007;
	border-bottom: 2px solid #8AC007;
}
#cardTitle {
	font-size: 24px;
	font-weight: bold;
}

.tabPage {
	position: relative;
	z-index: 1;
	padding: 25px;
	padding-left: 30px;
	border-radius: 5px;
	background-color: white;
	color: #2E2E2E;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 18px;
	width: 100%;
	box-shadow: 0 0 15px #999999;
	display: none;
	min-height: 500px;
}

#profileHeader, #profileHeader2 {
	border-spacing: 10px;
	margin-bottom: 20px;
}

#profileTitle, #profileTitle2 {
	font-weight: bold;
	font-size: 32px;
}

#editButtonContainer, #editButtonContainer2 {
	font-size: 14px;
	color: #388ac1;
	cursor: pointer;
	padding-left: 10px;
}

#infoTable, #infoTable2 {
	margin-bottom: 30px;
	border-spacing: 25px 2px;
}

.myLabel {
	color: gray;
	padding-right: 15px;
}

#profileInfo, #profileInfo2 {
	width: 100%;
}

#leftColumn, #leftColumn2 {
	padding-left: 30px;
	width: 70%;
}

#rightColumn, #rightColumn2 {
	vertical-align: top;
}

#statusButton, #statusButton2 {
	width: 200px;
	height: 70px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
}

.activeStatus {
	background-color: #8ac007;
}

.inactiveStatus {
	background-color: #c73a11;
}

#email, #email2 {
	color: #388ac1;
}

#profileControlPanel, #profileControlPanel2 {
	border-spacing: 0;
}

.profileTab, .profileTab2 {
	padding-left: 15px;
	padding-right: 15px;
	height: 40px;
	color: #388ac1;
	border-bottom: 2px solid #388ac1;
}


#rightSpace, #rightSpace2 {
	width: 100%;
}

.spaceBetween {
	padding-left: 2px;
	padding-right: 2px;
}

.profileTab.selected, .profileTab2.selected {
	background-color: white;
	color: #388ac1;
	border-top: 2px solid #388ac1;
	border-left: 2px solid #388ac1;
	border-right: 2px solid #388ac1;
	border-bottom: none;
}

.profileTab.unselected, .profileTab2.unselected {
	cursor: pointer;
	background-color: #388ac1;
	color: white;
	border: 2px solid #388ac1;
}

.inProfilePage, .inProfilePage2 {
	display: none;
}


#tabActivityPage, #tabActivity2Page2 {
	display: block;
}

.profileTab.unselected.hovering, .profileTab2.unselected.hovering {
	background-color: #79B4DB;
}

#tabActivityPage, #tabActivity2Page2 {
	padding: 23px;
}

.profileLink {
	cursor: pointer;
	color: #388ac1;
}

#controlLabel1, #controlLabel2, #controlLabel3, #controlLabel4, #controlLabel5, #controlLabel6, #controlLabel7, #controlLabel8 {
	text-align: left;
	width: 120px;
	vertical-align: top;
	font-weight: normal;
	padding-top: 0;
}

#nameInput, #emailInput, #phoneInput, #schoolInput, #educationInput, #majorInput, #positionInput {
	width: 400px;
}

#filebutton {
	display: inline-block;
}

.control-group {
	padding: 10px;
}

#rejectButton, #interviewButton {
	margin-top: -5px;
}

#reviewerToken {
	width: 100px;
	background-color: #388ac1;
	color: white;
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 5px;
	margin-left: 10px;
	display: none;
} 

.timeStamp {
	color: gray;
	font-size: 14px;
	float: right;
	line-height: 25px;
}

.activity {
	margin: 10px;
	padding: 10px;
	vertical-align: middle;
}

.activity.statusChange {
	border-top: 2px solid #8AC007;
	border-left: 10px solid #8AC007;
	border-right: 2px solid #8AC007;
	border-bottom: 2px solid #8AC007;
}

.activity.comment {
	border-top: 2px solid gray;
	border-left: 10px solid gray;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
}

.activity.regular {
	border-top: 2px solid #A675A2;
	border-left: 10px solid #A675A2;
	border-right: 2px solid #A675A2;
	border-bottom: 2px solid #A675A2;
}

.activity.reject {
	border-top: 2px solid #C73A11;
	border-left: 10px solid #C73A11;
	border-right: 2px solid #C73A11;
	border-bottom: 2px solid #C73A11;
}

#reviewerInputContainer, #reviewerInputContainer2 {
	display: none;
}

#reviewerInput, #titleInput, #reviewerInput2, #titleInput2 {
	padding-left: 10px;
	height: 39px;
	border: 1px solid #388ac1;
}

#mySelect, #mySelect2 {
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	padding: 5px;
	border: 1px solid #388ac1;
	margin: 10px;
}

#actionControl, #actionControl2 {
	margin-top: 20px;
}

#actionInputContainer, #actionInputContainer2 {
	padding-right: 20px;
}

#titleInput, #titleInput2 {
	width: 100%;
}

#actionInput, #actionInput2 {
	margin: 10px;
	border-color: #388ac1;
	resize: none;
	padding: 7px;
	margin-right: 30px;
	width: 100%;
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#confirmButton, #confirmButton2 {
	background-color: gray;
	color: white;
	height: 40px;
	line-height: 37px;
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	margin: 10px;
	text-align: center;
	line-height: 40px;
	width: 115px;
	cursor: pointer;
}

#messageInput, #emailInput2 {
	border-color: #388ac1;
	resize: none;
	padding: 7px;
	width: 100%;
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#emailTable, #emailTable2 {
	border-spacing: 10px;
	border-collapse: separate;
	width: 100%;
}

#interviewList, #interviewList2 {
	padding: 30px;
	padding-bottom: 0;
}

#newInterviewButton, #newInterviewButton2 {
	margin: 30px;
}

.emailLabel {
	vertical-align: top;
}

.modal-body {
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.modal-title {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.modal-footer .btn {
	font-size: 18px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

#newAppBtn {
	margin: 20px;
}

/* css for candidate tab

*/

.pageTitle {
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 32px;
}

#newAppBtn {
    float: right;
}

#searchBar {
    width: 50%;
}

.marginTop {
    margin-top: 10px;
}


#candidatesTable,
#taskTable {
    margin-top: 30px;
}

#filters {
  font-size: 15px;
  margin-top: 20px;
}

#taskTable td {
	cursor: pointer;
}
/* css for my tasks tab

*/


/* css for my schedule tab

*/

#newInterview .modal-body{
	height: 650px;
}
#newInterview .modal-body >div{
	float:left;
	margin: 0px 20px;
	
}

#newInterview .modal-dialog{
	width: 1250px;
}

#newInterview .ul{
	list-style-type:none;
}
 
#calendar {
	width: 40em;
	border: ridge;
}

#newInterview * {
	box-sizing: initial;
}
#calControls {
	margin-bottom: 10px;
}


#calendar h1{
	font-size:18px;
} 

#calendar button{
	color:black;
}

#calControl button{
	margin: 5px;
	float: right;
}

#newInterview ul button{
	float:right;
}

#newInterview li{
	list-style-type: none;
	padding: 8px;
}
#spec div{
	padding:10px;
}
#intrList {
	height: 300px;
}
#spec {
	width: 400px;
}




/* css for position tab

*/
